.tab-list {
    .mr10 {
        margin-right: 10px;;
    }

    .close-icon {
        visibility: hidden;
    }

    .nav-item:hover .close-icon {
        visibility: visible;
    }

    .nav-item:hover .no-save-icon{
        visibility: hidden;
    }

}

